<div class="modal fade" id="ShowImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <button class="close iBtnSearch" type="button" data-dismiss="modal" aria-label="Close" style="color:white !important;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="modal-body">
            <div id="ShowImageBig"></div>
        </div>
    </div>
</div>

